<!DOCTYPE html>
<html>
<head>
    <title>Hiển thị bảng samples</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<form method="post" action="/searchSampleByIdCard">
    <input type="text" name="idCardNumber" placeholder="Enter ID card number...">
    <button type="submit">Search</button>
</form>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Ảnh</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sample : ${samples}">
        <td th:text="${sample.id}"></td>
        <td><img th:src="@{${sample.image}}" alt="${sample.name}" height="60px" /></td>
        <td>
            <a th:href="@{/deleteSample/{id}(id=${sample.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<li class="nav-item">
    <a class="nav-link" th:href="@{/addSampleAdmin}">addSample</a>
</li>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
